@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #012788;
  --primary-foreground: #ffffff;

  --primary-sub: #2d4db5;

  --secondary: #fd6e00;
  --secondary-foreground: #ffffff;

  --tertiary: #c8dae6;

  --gray-900: #1c2028;
  --gray-800: #3d4149;
  --gray-700: #5c5f69;
  --gray-600: #70737d;
  --gray-500: #989ca6;
  --gray-400: #cbced7;
  --gray-300: #e2e5ec;
  --gray-200: #eef0f6;
  --gray-100: #f9fafe;

  --chip-1: var(--gray-200);
  --chip-1-foreground: var(--gray-500);
  --chip-2: #e7edfc;
  --chip-2-foreground: #6c88cf;
  --chip-3: #d2f7ce;
  --chip-3-foreground: #22aa00;
  --chip-4: #ffdafd;
  --chip-4-foreground: #d718cf;
}

body {
  color: var(--gray-900);
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* 스크롤바 숨기기 클래스 (Tailwind용 커스텀) */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}